<!-- sidebar.component.html -->
<div class="sidebar">
    <h2>Menu</h2>
    <a routerLink="/home" routerLinkActive="active">Home</a><br>
    <a routerLink="/todo-details" routerLinkActive="active">Todo Details</a><br>
    <a routerLink="/todo-list" routerLinkActive="active">Todo List</a><br>
    <a routerLink="/services" routerLinkActive="active">Services</a><br>
    <a routerLink="/about" routerLinkActive="active">About</a><br>
    <a routerLink="/contact" routerLinkActive="active">Contact</a>
  </div>